[buildout]
parts =
  testdjango
  test
  omelette
develop = .
versions = versions


[versions]
setuptools = 1.1.6
zc.buildout = 2.2.1
zc.recipe.egg = 2.0.1
mock = 1.0.1
Django = 1.5


[test]
recipe = pbp.recipe.noserunner
eggs =
  djangorecipe
  djangorecipe[test]


[testdjango]
recipe = djangorecipe
project = koe
eggs =
     Django


[omelette]
recipe = collective.recipe.omelette
eggs =
  djangorecipe
  djangorecipe[test]
